<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/css/app.css}" />

	<title>Countries of the World</title>
</head>
<body>
	<header>
		<div class="container">
			<h1><a th:href="@{/}">Countries of the World</a></h1>
		</div>
	</header>
	<span class="sortBy">Sort by name:</span>
	<div class="container">
		<div th:each="country : ${countriesByName}" class="country">
			<a th:href="@{'/' + ${country.name}}">
                <h4><img th:src="@{'/flags/' + ${country.name} + '.png'}" alt="@{'Flag of ' + ${country.name}}" width="8%" th:text="@{' ' + ${country.name}}"/></h4>
			</a>
		</div>
	</div>
	<span class="sortBy">Sort by population:</span>
	<div class="container">
		<div th:each="country : ${countriesByPopulation}" class="country">
			<a th:href="@{'/' + ${country.name}}">
				<h4><img th:src="@{'/flags/' + ${country.name} + '.png'}" alt="@{'Flag of ' + ${country.name}}" width="8%" th:text="@{' ' + ${country.name}}"/></h4>
			</a>
		</div>
	</div>
</body>
</html>